<header>
    <img class="header-logo" src="assets/img/mylogowhite.png">

    <div class="header-links">
        <a href="#work-experience"  class="header-links-container">
            Work Experience
        </a>
        <a href="#about-me" class="header-links-container">
            About Me
        </a>
        <a href="#skillset" class="header-links-container">
            My Skills
        </a>
        <a href="#my-projects" class="header-links-container">
            My Projects
        </a>
        <a href="#contact" class="header-links-container">
            Contact
        </a>
    </div>

    
</header>

<div class="mobile-header">
    <div (click)="changeMenu()"   [class.active]="classActive" class="navT">
      <div [class.active]="classActive" class="icon"></div>
    </div>
    
    <div [class.open]="classActive" id="menu">
      <ul>
        <a (click)="changeMenu()" href="#landing">Home</a>
        <a (click)="changeMenu()" href="#work-experience">Work Experience</a>
        <a (click)="changeMenu()" href="#about-me">About me</a>
        <a (click)="changeMenu()" href="#skillset">My Skills</a>
        <a (click)="changeMenu()" href="#my-projects">My Projects</a>
        <a (click)="changeMenu()" href="#contact">Contact</a>
      </ul>
    </div>
  
  </div>