<a href="#" class="back-to-start">
    <p>Back to start</p>
</a>
<footer class="main">


    <div class="footer-logo">
        <img src="assets/img/mylogoblack.png">
    </div>
    <div class="main-container">
        <div class="main-container-group">
            <h4>Made by Jan Steindorf</h4>
            <img src="assets/img/germany.svg">
            <span>
                <img src="assets/img/message-outline-48.png" style="padding-right: 10px;">
                <a href="jansteindorf@googlemail.com">jansteindorf@googlemail.com</a>
            </span>
        </div>

        <div class="main-container-group">
            <h4>Other Websites</h4>
            <a href="./assets/linked/Pokemondex/index.html" target="_blank">Pokedex</a>
            <a href="https://store.steampowered.com/app/1985910/Hotel_Management_Simulator/" target="_blank">Unity
                Game</a>
            <a href="./assets/linked/join/index.html" target="_blank">Join</a>
        </div>

        <div class="main-container-group">
            <h4>Legal</h4>
            <a href="./assets/linked/dataprotection/index.html">Datenschutz</a>
            <a href='./assets/linked/impress/index.html'>Impressum</a>
            <a href='./assets/linked/cookies/index.html'>Cookies</a>
        </div>
    </div>
    <div class="main-icon-container" style="align-items: center;">
        <a href="https://twitter.com/IceDropCoding" target="_blank"><img src="assets/img/twitter-48.png"></a>
        <a href="https://youtu.be/yOMNWL3Fbg4" target="_blank"><img src="assets/img/youtube-48.png"></a>
        <a href="https://www.linkedin.com/in/jan-steindorf-624681267/" target="_blank"><img
                src="assets/img/linkedin-48.png"></a>
        <a href="https://store.steampowered.com/app/1985910/Hotel_Management_Simulator/" target="_blank"><img
                src="assets/img/steam-48.png"></a>
    </div>

</footer>