<a href="#" class="back-to-start">
    <p>Back to start</p>
</a>
<footer class="main">


    <div class="footer-logo">
        <img src="assets/img/Freeze.png">
    </div>
    <div class="main-container">
        <div class="main-container-group">
            <h4>Made by Jan Steindorf</h4>
            <img src="assets/img/germany.svg">
            <span>
                <img src="assets/img/message-outline-48.png" style="padding-right: 10px;">
                <a href="jan2910@hotmail.de">jan2910@hotmail.de</a>
            </span>
        </div>

        <div class="main-container-group">
            <h4>Other Websites</h4>
            <a href="#">Pokedex</a>
            <a href='#'>Unity Game</a>
            <a href='#'>Join</a>
        </div>

        <div class="main-container-group">
            <h4>Rechtliches</h4>
            <a href="#">Datenschutz</a>
            <a href='#'>Impressum</a>
            <a href='#'>Cookies</a>
        </div>
    </div>
    <div class="main-icon-container" style="align-items: center;">
        <img src="assets/img/twitter-48.png">
        <img src="assets/img/youtube-48.png">
        <img src="assets/img/linkedin-48.png">
        <img src="assets/img/steam-48.png">
    </div>




</footer>