.main {
    display: flex;
    align-items: center;
    height: fit-content;
    width: 100vw;
    max-width: 100%;
    background-color: white;
    overflow: hidden;
    color: black;
    box-sizing: border-box;
}

.main-left {
    display: flex;
    flex-flow: column;
    max-height: 100%;
    width: 50vw;
    padding-left: 72px;

    h2 {
        margin: 0;
        
        font-size: var(--font-size-head2);
    }
}

.main-left-flowtext {
    max-width: 85%;
    font-size: var(--font-size-flowtext);
}

.wrapper {
    position: static;
    margin-top: 50px;
    top: 50%;
    left: 50%;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--button-width);
        height: var(--button-height);
        line-height: 40px;
        font-size: var(--font-size-flowtext);
        font-family: sans-serif;
        text-decoration: none;
        color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid var(--color-primary);
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        transition: all 0.35s;
        cursor: pointer;
    }

    button span {
        position: relative;
        z-index: 2;
    }

    button:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--color-primary);
        transition: all 0.35s;
    }

    button:hover {
        color: #fff;
    }

    button:hover:after {
        width: 100%;
    }
}

.main-right {
    width: 50vw;
    height: 100%;

    img {
        object-fit: cover;
        object-position: bottom;
        height: 100%;
        width: 100%;
    }
}


@media (max-height: 1100px){
    .wrapper{
        margin: 0;
    }
}

@media (max-height: 780px){
    .main{
        height: fit-content;
    }

    .main-right{
        max-height: 350px;
    }

    .main-left{
        padding-bottom: 20px;
    }
}


@media (max-width: 1000px) {

    .main{
        flex-flow: column-reverse;
        height: fit-content;
    }

    .main-right {
        width: 100%;
    
        img {
            width: 100%;
        }
    }

    .main-left{
        box-sizing: border-box;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .main-left-flowtext {
        max-width: 100%;
        margin-bottom: 0;
    }

    .wrapper{
        margin: 0;
    }

}