<div id="about-me" class="main" data-aos="fade-up" data-aos-duration="750">
    <div class="main-left">
        <h2>About Me</h2>
        <div class="main-left-flowtext">
            <p>Guess with stepping into programming I'm officially now a full-time Nerd.<br>
                Most of my interests were always set down in the computer- and media industry.<br>
                 I'm interested about discovering the origin of people's thoughts, which it took to make things happen.<br>
                 Now I'm also a part of these creators and i'll ever try my best to get one of the best.</p>
        </div>
        <div class="wrapper">
            <button><span>More about me</span></button>
        </div>
    </div>
    <div class="main-right">
        <img src="assets/img/aboutme.png">
    </div>


</div>