<div id="about-me" class="main" data-aos="fade-up" data-aos-duration="750">
    <div class="main-left">
        <h2><span>About Me</span></h2>
        <div class="main-left-flowtext">
            <p>Since diving into programming, I have embraced my inner nerd and found my true calling.<br>
                 My passion for the computer and media industry has always been a driving force in my life. I am fascinated by the creative process behind bringing ideas to life and enjoy discovering the thought processes that lead to successful outcomes. Now as a creator myself, I also want to contribute my part to add something valuable to the digital world.</p>
        </div>
        <div class="wrapper">
            <a href="https://www.linkedin.com/in/jan-steindorf-624681267/" target="_blank"><button><span>More about me</span></button></a>
        </div>
    </div>
    <div class="main-right">
        <img src="assets/img/aboutme.png">
    </div>


</div>