<div class="main">
    <div class="main-left">
        <h2>About Me</h2>
        <div class="main-left-flowtext">
            <p>Guess with stepping into programming i'm officially now a full-time Nerd.<br>Meine Interessen sind weit
                verbreitet in der Gaming Industrie und alles, was damit zu tun hat. Ich bin sehr interessiert daran, wie
                Dinge entstehen und welche Gedanken dafür notwendig waren. Nun bin ich selber ein Teil davon und es ist
                für mich wie ein Kompetiver Wettstreit, den ich gewinnen will.</p>
        </div>
        <div class="wrapper">
            <button><span>More about me</span></button>
        </div>
    </div>
    <div class="main-right">
        <img src="assets/img/aboutme.png">
    </div>


</div>