<div id="skillrotation" class="main">
    <h2 data-aos="fade-up" data-aos-duration="750"><span>All Skills</span></h2>
    <div class="main-container">

        <div id="group1" class="main-container-group" data-aos="fade-right" data-aos-duration="1750">

            <div class="main-container-object">
                <div class="main-container-object-head">
                    <img src="assets/img/skills/angularIcon.svg">
                </div>
                <div class="main-container-object-body">
                    <p>Angular</p>
                </div>
            </div>

            <div class="main-container-object">
                <div class="main-container-object-head">
                    <img src="assets/img/skills/html5Icon.png">
                </div>
                <div class="main-container-object-body">
                    <p>HTML</p>
                </div>
            </div>

            <div class="main-container-object">
                <div class="main-container-object-head">
                    <img src="assets/img/skills/c-sharp-c.svg">
                </div>
                <div class="main-container-object-body">
                    <p>C#</p>
                </div>
            </div>

        </div>

        <div class="main-container-group" data-aos="fade-up" data-aos-duration="750">

            <div class="main-container-object">
                <div class="main-container-object-head">
                    <img src="assets/img/skills/javascriptIcon.png">
                </div>
                <div class="main-container-object-body">
                    <p>JavaScript</p>
                </div>
            </div>

            <div class="main-container-object">
                <div class="main-container-object-head">
                    <img src="assets/img/skills/css3Icon.png">
                </div>
                <div class="main-container-object-body">
                    <p>CSS</p>
                </div>
            </div>

            <div class="main-container-object">
                <div class="main-container-object-head">
                    <img src="assets/img/skills/photoshopIcon.png">
                </div>
                <div class="main-container-object-body">
                    <p>Adobe Photoshop</p>
                </div>
            </div>

        </div>

        <div class="main-container-group" data-aos="fade-left" data-aos-duration="1750">

            <div class="main-container-object">
                <div class="main-container-object-head">
                    <img src="assets/img/skills/unityIcon.png">
                </div>
                <div class="main-container-object-body">
                    <p>Unity Engine</p>
                </div>
            </div>

            <div class="main-container-object">
                <div class="main-container-object-head">
                    <img src="assets/img/skills/githubIcon.png">
                </div>
                <div class="main-container-object-body">
                    <p>GitHub</p>
                </div>
            </div>

            <div class="main-container-object">
                <div class="main-container-object-head">
                    <img src="assets/img/skills/illustratorIcon.png">
                </div>
                <div class="main-container-object-body">
                    <p>Adobe Illustrator</p>
                </div>
            </div>

        </div>

    </div>

</div>