<div class="main">
    <div class="main-left">
        <div class="main-left-container">
            <img src="assets/img/landing-main.png">
        </div>

    </div>
    <div class="right-bg">

    </div>
    <div class="main-right">
        <div class="main-right-container">
            <div class="right-headtext">
                <h1>I'm <span style="color: var(--color-primary)">Jan Steindorf</span>.<br><span 
                        style="color: var(--color-primary); white-space: nowrap;">Frontend Developer</span><br>based in
                    <span style="color: black; text-shadow: -1px 0 #2c2c3e;">Ger</span><span
                        style="color: var(--color-primary)">ma</span><span style="color: rgb(255,215,0)">ny</span>.</h1>
            </div>
            <div class="right-flowtext">
                <p>Web Developer passionated in creating things people will remember. If you searching for a competetive
                    worker with ever increasing skills, I'm the one who are you searching for.</p>
            </div>
        </div>

    </div>
</div>