<div id="landing" class="main">
    <div class="main-left">
        <div class="main-left-container">
            <img src="assets/img/landing-main.png">
        </div>

    </div>
    <div class="right-bg">

    </div>
    <div class="main-right">
        <div class="main-right-container">
            <div class="right-headtext">
                <h1>I'm <span style="color: var(--color-primary)">Jan Steindorf</span>.<br>
                    <span id="myJobs" style="color: var(--color-primary); white-space: nowrap;">Frontend Developer</span><span id="inputText">|</span>
                    <br>based in Germany</h1>
            </div>
            <div class="right-flowtext">
                <p>Passionated in creating new things with ever-increasing skills. If you are searching for a competitive worker feel free to contact me!</p>
            </div>
        </div>

    </div>
</div>