<div id="my-projects" class="main" data-aos="fade-up" data-aos-duration="750">

    <h2>My Projects</h2>
    <h3>Work that I've done recently</h3>

    <div class="main-btn-container" data-aos="fade-up" data-aos-duration="1750">
        <div [class.active]="btn1Active" class="wrapper">
            <button (click)="OnClick('All',1)"><span>All</span></button>
        </div>
        <div [class.active]="btn2Active" class="wrapper">
            <button (click)="OnClick('Angular',2)"><span>Angular</span></button>
        </div>
        <div [class.active]="btn3Active" class="wrapper">
            <button (click)="OnClick('JavaScript',3)"><span>JavaScript</span></button>
        </div>

        <div [class.active]="btn4Active" class="wrapper">
            <button (click)="OnClick('Firebase',4)"><span>Firebase</span></button>
        </div>

        <div [class.active]="btn5Active" class="wrapper">
            <button (click)="OnClick('Unity',5)"><span>C# / Unity</span></button>
        </div>
    </div>
    <div id="grid" class="grid" data-aos="fade-up" data-aos-duration="2500">

        <div [style.background-image]="'url(/assets/img/project/Pokemon.png)'" id="project-1" *ngIf="All || JavaScript"
            class="grid-object">
            <div class="grid-container">
                <h3>Pokedex</h3>
                <p>A Pokedex with API-Usage</p>
                <div class="wrapper">
                    <a href="linked/gallery/index.html"><button><span>Open</span></button></a>
                </div>
            </div>
        </div>

        <div [style.background-image]="'url(/assets/img/project/myWebsite.png)'" *ngIf="All || Angular"
            (mouseout)='exit()' class="grid-object">
            <div class="grid-container">
                <h3>This Portfolio</h3>
                <p>This Portfolio is created with Angular.</p>
                <div class="wrapper">
                    <button><span>Open</span></button>
                </div>
            </div>
        </div>

        <div [style.background-image]="'url(/assets/img/project/ChickenRevenge.png)'" *ngIf="All || JavaScript"
            (mouseout)='exit()' class="grid-object">
            <div class="grid-container">
                <h3>Chicken Revenge</h3>
                <p>A JavaScript game I created</p>
                <div class="wrapper">
                    <button><span>Open</span></button>
                </div>
            </div>
        </div>

        <div *ngIf="All || JavaScript" (mouseout)='exit()' class="grid-object">
            <div class="grid-container">
                <h3>Project: Join</h3>
                <p>Scum project to manage task to teams.</p>
                <div class="wrapper">
                    <a><button><span>Open</span></button></a>
                </div>
            </div>
        </div>

        <div [style.background-image]="'url(/assets/img/project/HotelGame.png)'" *ngIf="All || Unity"
            (mouseout)='exit()' class="grid-object">
            <div class="grid-container">
                <h3>Hotel Game</h3>
                <p>Currently I'm creating a first-person hotel game in Unity.</p>
                <div class="wrapper">
                    <button><span>Open</span></button>
                </div>
            </div>
        </div>

        <div *ngIf="All || Angular || Firebase" (mouseout)='exit()' class="grid-object">
            <div class="grid-container">
                <h3>Ring of Fire</h3>
                <p>A drinking game I created with Angular.</p>
                <div class="wrapper">
                    <a href="https://cardgame-js.web.app"><button><span>Open</span></button></a>
                </div>
            </div>
        </div>

        <div *ngIf="All || JavaScript" (mouseout)='exit()' class="grid-object">
            <div class="grid-container">
                <h3>Gallery</h3>
                <p>A basic photo-gallery.</p>
                <div class="wrapper">
                    <button><span>Open</span></button>
                </div>
            </div>
        </div>

        <div *ngIf="All || JavaScript" (mouseout)='exit()' class="grid-object">
            <div class="grid-container">
                <h3>Tic Tac Toe</h3>
                <p>Basic Tic Tac Toe game.</p>
                <div class="wrapper">
                    <button><span>Open</span></button>
                </div>
            </div>
        </div>

        <div *ngIf="All || Angular || Firebase" (mouseout)='exit()' class="grid-object">
            <div class="grid-container">
                <h3>Custom Relationsship Management</h3>
                <p>Simple CRM-System to test Firebase.</p>
                <div class="wrapper">
                    <button><span>Open</span></button>
                </div>
            </div>
        </div>




    </div>

</div>