.main {
    scroll-snap-align: start;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    height: fit-content;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 40px;
    box-sizing: border-box;

    h2 {
        margin: 0;
        margin-top: 25px;
        margin-bottom: 5px;
        font-size: var(--font-size-head1);
        color: rgba(255, 255, 255, 0.8);
    }

    h3 {
        margin: 0;
        margin-bottom: 25px;
        font-size: var(--font-size-head2);
    }
}

.main-btn-container {
    position: relative;
    display: grid;
    grid-template-areas: ". . . .";
    gap: 0px 50px;
    padding-bottom: 25px;
}

.wrapper {
    position: static;
    top: 50%;
    left: 50%;
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--button-width);
        height: var(--button-height);
        line-height: 40px;
        font-size: var(--font-size-flowtext);
        font-family: sans-serif;
        text-decoration: none;
        color: white;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid var(--color-primary);
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        transition: all 0.35s;
        cursor: pointer;
    }

    button span {
        position: relative;
        z-index: 2;
    }

    button:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--color-primary);
        transition: all 0.35s;
    }

    button:hover {
        color: #fff;
    }

    button:hover:after {
        width: 100%;
    }

    &.active {
        button {
            background-color: var(--color-primary);
        }
    }
}

.main-head {
    display: flex;
    padding-left: 72px;
}

.grid {
    display: grid;
    grid-template-areas: ". . .";
    gap: 50px 50px;
}

.grid-object {
    background-image: url("/assets/img/prototype.png");
    background-size: cover;
    background-position: center;
    height: 550px;
    width: 550px;
    border: 2px solid black;
    &:hover {
        border: 2px solid var(--color-primary);

        :first-child {
            display: flex !important;
        }
    }

    .grid-container {
        display: none;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        height: 100%;

        box-shadow: inset 0 0 0 1000px rgba(58, 57, 57, 0.6);

        h3 {
            margin: 0;
            margin-bottom: 15px;
        }

        p {
            margin: 0;
            margin-bottom: 45px;
        }
    }
}

.grid-container-flowtext {
    font-size: var(--font-size-flowtext);
    margin: 0;
    margin-top: 12px;
}

.d-none {
    display: none;
}

@media (max-width: 1800px) {
    .grid {
        grid-template-areas: ". . .";
        gap: 10px 25px;
    }

    .grid-object {
        height: 450px;
        width: 450px;
    }
}

@media (max-width: 1440px) {
    .grid {
        gap: 10px 25px;
    }

    .grid-object {
        height: 380px;
        width: 380px;
    }
}

@media (max-width: 1210px) {
    .main-btn-container {
        position: relative;
        display: grid;
        grid-template-areas: ". .";
        gap: 25px 50px;
        padding-bottom: 25px;
    }
    .grid {
        gap: 10px 25px;
    }

    .grid-object {
        height: 300px;
        width: 300px;
    }
}

@media (max-height: 1390px) {
    
    .grid {
        gap: 10px 25px;
    }

    .grid-object {
        height: 500px;
        width: 500px;
    }
}

@media (max-height: 1250px) {
    .grid {
        gap: 10px 25px;
    }

    .grid-object {
        height: 400px;
        width: 400px;
    }
}

@media (max-height: 1020px) {

    .grid-object {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 980px) {
    .grid {
        grid-template-areas: ". .";
        gap: 10px 25px;
    }

    .grid-object {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 760px) {
    .grid-object {
        height: 265px;
        width: 265px;
    }
}

@media (max-width: 600px) {
    .main {
        height: fit-content;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .main-btn-container {
        grid-template-areas: ".";
        gap: 10px;
        padding-bottom: 15px;
    }

    .grid {
        display: grid;
        grid-template-areas: ".";
        gap: 10px 25px;
    }

    .grid-object {
        height: 400px;
        width: 400px;
    }
}

@media (max-width: 420px) {
    .main {
        height: fit-content;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .grid {
        display: grid;
        grid-template-areas: ".";
        gap: 10px 25px;
    }

    .grid-object {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 320px) {
    .grid-object {
        height: 200px;
        width: 200px;
    }
}
