<div class="main">

    <h2>My Projects</h2>
    <h3>Work that I've done for the past 8 years</h3>

    <div class="main-btn-container">
        <div class="wrapper-active">
            <button><span>Angular</span></button>
        </div>
        <div class="wrapper">
            <button><span>Angular</span></button>
        </div>
        <div class="wrapper">
            <button><span>JavaScript</span></button>
        </div>
    </div>
    <div class="grid">

        <div class="grid-object">
            <div class="grid-container-active">
                <h3>Beispiel Seite</h3>
                <p>This example makes use of examples.</p>
                <div class="wrapper">
                    <button><span>JavaScript</span></button>
                </div>
            </div>
        </div>

        <div class="grid-object">
            <div class="grid-container-unactive">
                <h3>Beispiel Seite</h3>
                <p>This example makes use of examples.</p>
                <div class="wrapper">
                    <button><span>JavaScript</span></button>
                </div>
            </div>
        </div>

        <div class="grid-object">
            <div class="grid-container-unactive">
                <h3>Beispiel Seite</h3>
                <p>This example makes use of examples.</p>
                <div class="wrapper">
                    <button><span>JavaScript</span></button>
                </div>
            </div>
        </div>

        <div class="grid-object">
            <div class="grid-container-unactive">
                <h3>Beispiel Seite</h3>
                <p>This example makes use of examples.</p>
                <div class="wrapper">
                    <button><span>JavaScript</span></button>
                </div>
            </div>
        </div>

        <div class="grid-object">
            <div class="grid-container-unactive">
                <h3>Beispiel Seite</h3>
                <p>This example makes use of examples.</p>
                <div class="wrapper">
                    <a href="#"><span>Hover Me!</span></a>
                </div>
            </div>
        </div>

        <div class="grid-object">
            <div class="grid-container-unactive">
                <h3>Beispiel Seite</h3>
                <p>This example makes use of examples.</p>
                <div class="wrapper">
                    <a href="#"><span>Hover Me!</span></a>
                </div>
            </div>
        </div>


    </div>

</div>