.main {
    display: flex;
    position: relative;
    align-items: center;
    flex-flow: column;
    max-width: 100%;
    padding-bottom: 72px;

    form {
        z-index: 2;
        display: flex;
        flex-flow: column;
        width: 30vw;
        color: white;
    }

    h2 {
        text-align: center;
        font-size: var(--font-size-head2);
        margin: 0;
    }

    p {
        font-size: var(--font-size-flowtext);
        margin-top: 5px;
        margin-bottom: 25px;
        text-align: center;
    }

    a{
        color: var(--color-primary);
    }

    label {
        font-size: var(--font-size-flowtext);
    }
}

.main-input {
    z-index: 2;
    background-color: rgba(27, 27, 27, 0.5);
    color: white;
    border: none;
    height: 30px;
    font-size: var(--font-size-flowtext);
}

.main-textarea {
    z-index: 2;
    background-color: rgba(27, 27, 27, 0.5);
    border: none;
    min-height: 180px;
    max-height: 400px;
    color: white;
    font-size: var(--font-size-flowtext);
    resize: vertical;
}

.main-submit-container{
    padding-top: 25px;
    display: flex;
    justify-content: flex-end;
}

.wrapper {
    position: static;

    top: 50%;
    left: 50%;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--button-width);
        height: var(--button-height);
        line-height: 40px;
        font-size: var(--font-size-flowtext);
        font-family: sans-serif;
        text-decoration: none;
        color: white;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid var(--color-primary);
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        transition: all 0.35s;
        cursor: pointer;
    }

    button span {
        position: relative;
        z-index: 2;
    }

    button:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--color-primary);
        transition: all 0.35s;
    }

    button:hover {
        color: #fff;
    }

    button:hover:after {
        width: 100%;
    }
}


h2:hover{
    color: var(--color-primary);
}

.h2 {
    position: relative;
    display: inline-block;
  }
  
  .h2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #fff; /* Hier die Hintergrundfarbe des Textes angeben */
    transition: height 0.3s ease-out;
  }
  
  .h2:hover::before {
    height: 100%;
  }
  
  .h2:hover {
    color: #fff; /* Hier die gewünschte Textfarbe beim Hovern angeben */
  }

.bg-red{
    background-color: rgb(255, 128, 0) !important;
}

.loader-container{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 1;
}

.loader-5 {
	height: 32px;
	width: 32px;
	-webkit-animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-1 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-5-1 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader-5::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: auto;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-2 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(24px, 0, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-2 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(24px, 0, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: auto;
	bottom: 0; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-3 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(-24px, 0, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-3 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(-24px, 0, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5 span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
}
.loader-5 span::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: auto; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-4 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(0, 24px, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-4 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(0, 24px, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5 span::after {
	content: "";
	display: block;
	position: absolute;
	top: auto; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-5 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(0, -24px, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-5 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(0, -24px, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}


.d-none{
    display: none;
}


@media (max-width: 1000px) {
    .main{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;


        form {
            z-index: 2;
            display: flex;
            flex-flow: column;
            width: 85%;
            color: white;
        }
    }

    .main-submit-container{
        padding-top: 25px;
        display: flex;
        justify-content: center;
    }

    .wrapper {
        margin-bottom: 0px;
    
        button {
            width: 100px;
            height: 30px;
        }
    }

}
