<div class="main">
    <h2>Get in touch</h2>
    <p class="main-flowtext">Want to know more, or you are yet interessted to work with me? Contact me!<br>Use this
        formula or write me a mail to <a href="jan2910@hotmail.de">jan2910@hotmail.de</a></p>

    <form action="action_page.php">

        <label for="name">Name</label>
        <input class="main-input" type="text" id="name" name="name" placeholder="Max Mustermann">

        <label for="e-mail">Last Name</label>
        <input class="main-input" type="email" id="e-mail" name="e-mail" placeholder="example@mail.com">

        <label for="subject">Subject</label>
        <textarea contenteditable="true" class="main-textarea" id="subject" name="subject"
            placeholder="Write something.."></textarea>

        <div class="main-submit-container">
            <div class="wrapper">
                <button type="submit"><span>Submit</span></button>
            </div>
        </div>

    </form>

</div>