<div id="work-experience" class="main" data-aos="fade-up" data-aos-duration="750" >
    <div class="main-top">
        <div class="main-top-container">
            <h2>Work Experience</h2>
            <h3><span>Experience i gained in programming.</span></h3>
        </div>
    </div>
    <div class="main-bot">

        <div class="bot-container">
            <p class="bot-container-head">01</p>
            <span class="bot-container-headtext">
                <p style="white-space: nowrap; margin: 0; margin-right: 5px; color: #b4e03a">BTA,</p>
                <p style="white-space: nowrap; margin: 0;">Media Design</p>
            </span>
            <p class="bot-container-flowtext">I began my journey in media design at a vocational school where I was introduced to various fields, including web design. It was during this time that I first discovered programming and took my first step into this field</p>
        </div>

        <div class="bot-container">
            <p class="bot-container-head">02</p>
            <span class="bot-container-headtext">
                <p style="white-space: nowrap; margin: 0; margin-right: 5px; color: rgb(67, 77, 211)">Unity Engine,</p>
                <p style="white-space: nowrap; margin: 0;">Game Programming</p>
            </span>
            <p class="bot-container-flowtext">While searching for the right job, I decided to turn my hobby into a job. Since 2020, I have been focused on improving my skills in programming, taking on various projects and exploring different tools and techniques.</p>
        </div>

        <div class="bot-container">
            <p class="bot-container-head">03</p>
            <span class="bot-container-headtext">
                <p style="white-space: nowrap; margin: 0; margin-right: 5px; color: rgb(253, 152, 144)">Developer Akademie,</p>
                <p style="white-space: nowrap; margin: 0;">Web Development</p>
            <!--<p ><span style="color: rgb(253, 152, 144); white-space: nowrap;">Developer Akademie</span>,<span style="white-space: no-wrap;"> Web Development</span></p>-->
            </span>
            <p class="bot-container-flowtext">After making great progress in programming, I decided to apply to the 'Developer Akademie' to further enhance my skills with the guidance of experienced instructors.</p>
        </div>

    </div>
</div>