<div id="work-experience" class="main" data-aos="fade-up" data-aos-duration="750" >
    <div class="main-top">
        <div class="main-top-container">
            <h2>Work Experience</h2>
            <h3>Experience i gained in programming.</h3>
        </div>
    </div>
    <div class="main-bot">

        <div class="bot-container">
            <p class="bot-container-head">01</p>
            <span class="bot-container-headtext">
                <p style="white-space: nowrap; margin: 0; margin-right: 5px; color: #b4e03a">Unity Engine,</p>
                <p style="white-space: nowrap; margin: 0;">Game Programming</p>
            </span>
            <p class="bot-container-flowtext">On my journey to find the right Job i started to make my hobby to the real Job.</p>
        </div>

        <div class="bot-container">
            <p class="bot-container-head">02</p>
            <span class="bot-container-headtext">
                <p style="white-space: nowrap; margin: 0; margin-right: 5px; color: rgb(253, 152, 144)">Developer Akademie,</p>
                <p style="white-space: nowrap; margin: 0;">Web Development</p>
            <!--<p ><span style="color: rgb(253, 152, 144); white-space: nowrap;">Developer Akademie</span>,<span style="white-space: no-wrap;"> Web Development</span></p>-->
            </span>
            <p class="bot-container-flowtext">After a great start of programming i applied to the <span class="nowrap">"Developer Akademie"</span> to have a prefect teacher to increase my programming skills.</p>
        </div>

        <div class="bot-container">
            <p class="bot-container-head">03</p>
            <span class="bot-container-headtext">
                <p style="white-space: nowrap; margin: 0; margin-right: 5px; color: rgb(67, 77, 211)">Developer Akademie,</p>
                <p style="white-space: nowrap; margin: 0;">Web Development</p>
            </span>
            <p class="bot-container-flowtext">On my journey to find the right Job i started to make my hobby to my Job.</p>
        </div>

    </div>
</div>