#work-experience {
    display: flex;
    align-items: center;
}

.main {
    scroll-snap-align: start;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-flow: column;
    height: fit-content;
    width: 100vw;
    max-width: 100%;
    min-height: 33.33vh;
    overflow: hidden;
    padding-left: 72px;
    padding-right: 72px;
}

.main-top-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-left: 72px;
    padding-right: 72px;

    h3 {
        margin: 0;
        font-size: var(--font-size-head2);
    }
    h2 {
        margin: 0;
        margin-top: 12px;
        font-size: var(--font-size-flowtext);
        color: rgba(255, 255, 255, 0.8);
    }
}

.main-bot {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 24px;
}

.bot-container {
    max-width: 25vw;
}

.bot-container-head {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 6vh;
    margin: 0;
}

.bot-container-headtext {
    display: flex;
    justify-content: center;
    font-size: var(--font-size-head3);
    margin: 0;
    margin-top: 10px;
}

.bot-container-flowtext {
    text-align: center;
    font-size: var(--font-size-flowtext);
    margin: 0;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.8);
}

.nowrap {
    white-space: nowrap;
}

h3 span:hover{
    color: var(--color-primary);
}

@media screen and (max-height: 760px) {
    .main {
        height: fit-content !important;
        max-height: fit-content !important;
        padding-bottom: 20px;
    }
}

@media (max-width: 1430px) {
    .bot-container-headtext {
        flex-flow: column;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .main {
        height: auto;
        align-items: flex-start;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .main-top-container {
        padding: 0;
        padding-left: 20px;
        padding-right: 20px;
        align-items: flex-start;
    }

    .bot-container {
        max-width: 100%;
    }

    .bot-container-head {
        justify-content: start;
    }

    .bot-container-headtext {
        flex-flow: row;
        text-align: start;
        justify-content: flex-start;
    }

    .bot-container-flowtext {
        text-align: start;
    }

    .main-bot {
        flex-flow: column;
        padding: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
}
