:root {
    --color-base: #000000;
    --color-primary: #ff003b;
    --color-primary2: #181823;
    --font-size-head1: 4em;
    --font-size-head2: 2em;
    --font-size-head3: 1.5em;
    --font-size-flowtext: 1em;
    --button-width: 250px;
    --button-height: 70px;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

body {
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--color-base);
    color: white;
    font-family: "Sen", sans-serif;
    box-sizing: border-box;

}




@media (max-width: 2000px) {
    :root {
        --font-size-head1: 3em;
        --font-size-head2: 2em;
        --font-size-head3: 1.5em;
        --font-size-flowtext: 1em;
    }
}

@media (max-height: 980px) {
    :root {
        --font-size-head1: 2.5em;
        --font-size-head2: 1.5em;
        --font-size-head3: 1.2em;
        --font-size-flowtext: 0.9em;
    }
}

@media (max-width: 1400px) {
    :root {
        --font-size-head1: 1.7em;
        --font-size-head2: 1.7em;
    }
}

@media (max-width: 600px) {
    :root {
        --font-size-head1: 1.7em;
        --font-size-head2: 0.9em;
        --font-size-head3: 0.9em;
        --font-size-flowtext: 0.8em;
    }
}


