<div id="skillset" class="main" data-aos="fade-up" data-aos-duration="750">

    <div class="main-top">
        <h2>Main Skills</h2>
    </div>

    <div class="main-bottom">

        <div class="main-bottom-container">
            <div class="main-bottom-container-head">
                <img src="assets/img/designIcon.png">
            </div>
            <h3>Design: Media Design</h3>
            <p class="main-bottom-container-flowtext">Colors are important to hit the first impression. Combined with a good-looking structure is a key to impress people.</p>
        </div>

        <div class="main-bottom-container">
            <div class="main-bottom-container-head">
                <img src="assets/img/CSharpIcon.png">
            </div>
            <h3>Programming: C#</h3>
            <p class="main-bottom-container-flowtext">Now I learned programming is far more fun and easier than I
                expected. With Unity I was able to get my first experience with real coding and I started creating
                games.</p>
        </div>

        <div class="main-bottom-container">

            <div class="main-bottom-container-head">
                <img src="assets/img/HTMLCSSIcon.png">
            </div>

            <h3>Programming: <span style="white-space: nowrap;"> HTML & CSS</span> </h3>
            <p class="main-bottom-container-flowtext">One of the most important approach to people is the web. With a good amount of skill in <span style="white-space: nowrap">HTML & CSS</span> it's one of the best ways to connect with these.</p>
        </div>

        <div class="main-bottom-container">
            <div class="main-bottom-container-head">
                <img src="assets/img/JavaScriptIcon.png">
            </div>
            <h3>Programming: JavaScript</h3>
            <p class="main-bottom-container-flowtext">Websites need logic. I learned JavaScript very easy, because it's
                pretty similar to C#. Now websites have a better experience for people to make things looking even better or make something more useful.</p>
        </div>






    </div>

</div>