<div id="skillset" class="main" data-aos="fade-up" data-aos-duration="750">

    <div class="main-top">
        <h2><span>Main Skills</span></h2>
    </div>

    <div class="main-bottom">

        <div class="main-bottom-container">
            <div class="main-bottom-container-head">
                <img src="assets/img/designIcon.png">
            </div>
            <h3>Design: Media Design</h3>
            <p class="main-bottom-container-flowtext">The use of colors is crucial in making a strong first impression, and when combined with an attractive layout, it becomes a key factor in impressing people.</p>
        </div>

        <div class="main-bottom-container">
            <div class="main-bottom-container-head">
                <img src="assets/img/CSharpIcon.png">
            </div>
            <h3>Programming: C#</h3>
            <p class="main-bottom-container-flowtext">Learning programming has been more enjoyable and less challenging than I was expecting. With the help of Unity, I gained my first hands-on experience with coding and began creating my own games.</p>
        </div>

        <div class="main-bottom-container">

            <div class="main-bottom-container-head">
                <img src="assets/img/HTMLCSSIcon.png">
            </div>

            <h3>Programming: <span style="white-space: nowrap;"> HTML & CSS</span> </h3>
            <p class="main-bottom-container-flowtext">The internet is one of the most essential ways to connect with people today, and having a strong command of <span style="white-space: nowrap">HTML & CSS</span> is crucial in making a positive impact and reach people.</p>
        </div>

        <div class="main-bottom-container">
            <div class="main-bottom-container-head">
                <img src="assets/img/JavaScriptIcon.png">
            </div>
            <h3>Programming: JavaScript</h3>
            <p class="main-bottom-container-flowtext">Logic is an essential component of websites, and my experience in programming with C# made it easy for me to learn JavaScript, which has enabled me to create more engaging and user-friendly websites that are aesthetically pleasing and highly functional.</p>
        </div>






    </div>

</div>