.main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 33.33vh;
    max-width: 100%;
    height: fit-content;
    overflow: hidden;

    h3 {
        margin: 0;
        margin-top: 15px;
        margin-bottom: 5px;
        text-align: center;
    }
}

.main-top {
    margin-top: 12px;
    max-width: 30vw;

    h2 {
        margin: 0;
        font-size: var(--font-size-head2);
        
    }
}

.main-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-template-areas: ". .";
    gap: 25px 0px;
    padding-left: 72px;
    padding-right: 72px;
}

.main-bottom-container {
    display: flex;
    align-items: center;
    max-width: 20%;
    padding: 20px;
    flex-flow: column;
    h3 {
        font-size: var(--font-size-head3);
    }
}

.main-bottom-container-head {
    display: flex;
    align-items: center;
    height: 20px;
    width: 20px;

    img {
        height: 100%;
        width: 100%;
        color: rgb(76, 33, 204);
    }
}

.main-bottom-container-flowtext {
    text-align: center;
    font-size: var(--font-size-flowtext);
    margin: 0;
}


@media screen and (max-height: 760px){
    .main{
        min-height: 300px;
        height: fit-content !important;
        max-height: fit-content !important;
    }
}


@media (max-width: 1000px) {

    .main{
        height: auto;
        flex-flow: column;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .main-bottom{
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-bottom-container {
        max-width: 100%;
    }

}